body {
    font-family: 'JetBrains Mono',monospace;
}
.container
{
   width: 90%;
   margin: 0 auto;
}

nav .container{
    display:flex;
    justify-content: space-between;
    align-items: center;
    height:70px;
}
nav{
    background-color: #222222;
}
.nav-links{

    display: flex;
    justify-content: space-between;
    width:15%;

}
.nav-logo
{
  
    font-weight: 600;
    font-size: 40px;
}
.nav-logo a
{
    transition: .5s all;   
}
.nav-logo:hover{
    transform: scale(1.1);
}
nav a{
    color:white;
    text-decoration: none;
}
.nav-links a
{
    transition: .5s all;  
}
.nav-links a:hover
{
   
    transform: scale(1.1);
}
.landing-page{
    width: 100vw;
    height: calc(100vh - 140px);
    background-image: url('background.jpg.jpeg');
    background-position: center;
    background-size: cover;    
}
.landing-page-shadow
{
    width:100%;
    height:100%;
    background-color: rgba(0,0,0, .4);
    color: white;   
}
.landing-page-shadow .container
{ 
    display: flex;
    align-items:  center;
    justify-content: center;
    height: 100%;
}
.landing-page-text{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    color: white;
    height: 40%;
}
.landing-page-text-forgotpassword{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    color: white;
    height: 30%;
}
.landing-page-text-fp h1{
  
    margin-bottom: 10px;
    font-size: 20px;
}
.emailtext{
    font-size: 15px;
    margin-bottom: 10px;
}
.passwordtext{
font-size:15px;
}
.landing-page-text form {
  display: flex;
    justify-content: space-between;
}
.landing-page-text h1 {
    font-size: 40px;
    margin-bottom: 20px;
}
.landing-page-text h2
{
    font-size:25px;
    margin-bottom:20px;
}
.forgotyourpassword a{
    margin-top: 5px;
    color:white;
    text-decoration: none;
    font-size:12px;
}
.forgotyourpassword{
    height:180px;
}
.landing-page-text button , .landing-page-text-fp button
{
    margin-top: 15px;
    margin-bottom: 5px;
    color: white;
    padding: 5px 10px;
    background: none;
    border: 2px solid white;
    border-radius: 13px;
}
.landing-page-text button:hover , .landing-page-text-fp button:hover,.registeroptions button:hover, .buttonrejestr:hover{
   
    background-color: white;
    color: black;
}
.guziki{
    margin-top: 50px;
    margin-left:10px;
    display: flex;
    justify-content: space-between;
    height:40px;   
}
.emailtext-fp{
    text-decoration: none;
}

footer .container {
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70px;
    background-color: #2b2b2b;
    color:white;
}
footer a {
color:white;
text-decoration: none;
}
.footer-contact{
    margin-right: 10px;
    color:white;
    display: flex;
    flex-direction: column;  
}
.registeroptions{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 200px;
}
.registeroptions button{
    margin-top: 15px;
}
.registertitle h1,h2{
    font-size: 40px;
    height: 300px;
}

.buttonrejestr{
    margin-top: 20px;
    margin-bottom: 5px;
    color: white;
    background-color: white;
    padding: 5px 10px;
    background: none;
    border: 2px solid white;
    border-radius: 13px;
}


.logoptions {
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: space-between;
    height: 70px;
}

.mainpage {
    padding: 5% 0;
    background-image: url('label.jpg');
    color: white;
    width: 100vw;
    height: calc(100vh - 70px);
}

.mainpage h1
{
    margin-bottom: 30px;
}

.mainpage-list
{
    display :flex;
    flex-wrap: wrap;
}
.mainpage-box
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 320px;
    height: 200px;
    background-color:#2b2b2b;
    margin-right: 5%;
    margin-bottom: 5%;
}
.mainpage-box a,h2,h3,h4 
{
    font-size: 40px;
    color: white;
    text-decoration: none;
}
.mainpage-box h2{
    transition: .5s all;
    }
.mainpage-box h2:hover
    {
    transform: scale(1.4);
  
    }
.mainpage-box h3
    {
    transition: .5s all;
    }
.mainpage-box h3:hover
    {
    transform: scale(1.4);
    }

    .otworcach {
        padding: 5% 0;
        color: white;
    }
    
    .otworcach h1
    {
        margin-bottom: 50px;
    }
    
    .otworcach-list
    {
        display :flex;
        flex-wrap: wrap;
    }
    .otworcach-box 
    {
        display: flex;
        justify-content: center;
        align-items: center;  
    }
    .otworcach-box h2,h3,h4{   
       transition: .5s all;
       font-size: 30px;
    }   
    .otworcach-box h2:hover{
    transform: scale(1.1);
    }
    .otworcach-box h3{
        transition: .5s all;
         }
     .otworcach-box h3:hover{
     transform: scale(1.1);
     }
     a {
    text-decoration: none;
    color: white;
    }
    p > a:hover{
    color: #d9d9d9;
    text-decoration:  underline;
    }
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        margin:  1% 0 1% 0;
    }
    ._12 {
        font-size: 1.2em;
    }
    ._14 {
        font-size: 2em;
    }
    ul {
        padding:0;
        list-style: none;
    }
    .footer-social-icons {
        width: 350px;
        display:block;
        margin: 0 auto;
       
    }
    .social-icon {
        color: #fff;
    }
   .social-icon:hover{
        background: #5a32a3;
    }
    .social-iconlin:hover{
        background-color: #0073a4;
    }
    ul.social-icons {
        margin-top: 10px;
    }
    .social-icons li {
        vertical-align: top;
        display: inline;
        height: 100px;
    }
    .social-icons a {
        color: #fff;
        text-decoration: none;
    }
  
    .fa-linkedin {
        padding:10px 14px;
        -o-transition:.5s;
        -ms-transition:.5s;
        -moz-transition:.5s;
        -webkit-transition:.5s;
        transition: .5s;
        background-color: #322f30;
    }
    .fa-linkedin:hover {
        background-color: #0073a4;
    }
    .fa-github {
        padding:10px 14px;
        -o-transition:.5s;
        -ms-transition:.5s;
        -moz-transition:.5s;
        -webkit-transition:.5s;
        transition: .5s;
        background-color: #322f30;
    }
    .fa-github:hover {
        background-color: #5a32a3;
    }

    .landing-page-mainpage-options li {
        width: 220px;
     }
   ul{
        padding-top: 0px; /* odsunięcie 0 */
        margin-top: 0px; /* marginesy 0 */
    }
    /* style dla pierwszego potomka li znacznika ul znajdującego się wewnątrz znacznika nav */
    ul > li{
        
        list-style-type: none; /* wyłączenie wyświetlania znaczników wypunktowania */
        display: block; /* wyświetlanie jako element blokowy */
        padding: 0; /* odsunięcie na zero */
    }
    /* style dla linku gdy kursor myszy znajdzie się nad nim - znacznik linku musi być pierwszym potomkiem znacznika li będącym pierwszym potomkiem znacznika ul znajdującego się wewnątrz znacznika nav */
  ul > li > a:hover{
        background: #2b2b2b; /* kolor tła */
    }
    /* style dla znacznika linku będącego pierwszym potomkiem znacznika li będącym pierwszym potomkiem znacznika ul znajdującego się wewnątrz znacznika nav */
     ul > li > a{
        
       
        width: 100px; /* szerokość */
        text-align: left; /* wyrównanie */
        display: inline-block; /* wyświetlanie jako element liniowy blokowy */
        padding: 60px; /* odsunięcie z wszystkich stron na 10px */
        text-decoration: none; /* wyłączenie domyślnej dekoracji tekstu */
        font-weight: bold; /* pogrubienie tekstu */
        text-shadow: 1px 1px 2px #000000; /* cień tekstu: odsunięcie na x, odsunięcie na y, promień rozmycia, kolor */
        color: white; /* kolor czcionki */
    }
    /* style dla elementu ol będącego pierwszym potomkiem li będącego pierwszym potomkiem ul znajdującego się w nav */
     ul > li > ol{
         width: 40px;
        z-index: 1000; /* określa kolejność wyświetlania elementów (im wyższa liczba tym bardziej na wierzchu będzie dany element, a ponieważ menu powinno raczej na wierzchu się wyświetlać, więc dana została duża wartość by ten warunek został spełniony */
        list-style-type: none; /* wyłączenie wyświetlania numeracji */
        padding: 0; /* wyzerowanie odsunięcia */
        margin: 0; /* wyzerowanie marginesów */
        display: none; /* wyłączenie wyświetlania elementu */
        position:absolute; /* oderwanie elementu od reszty strony, by jego pojawienie nie wpływało na układ strony */
        text-align: left; /* wyrównanie tekstu do lewej */
    }
    /* styl dla elementu ol będącego potomkiem li będącego potomkiem ul znajdującego się w nav, gdzie styl jest stosowany gdy kursor myszy znajdzie się nad elementem li */
     ul > li:hover > ol{
        display: inline-block; /* wyświetl jako obiekt blokowy liniowy */
     
    }
    /* style dla li będącego pierwszym potomkiem ol będącego pierwszym potomkiem li, będącego pierwszym potomkiem ul znajdującego się w nav */
    ul > li > ol > li{
        border-bottom: 1px solid #2b2b2b; /* ramka u dołu: szerokość, styl linii (ciągły), kolor */
    }
    /* style dla znacznika linku a będącego potomikem li będącego pierwszym potomkiem ol będącego pierwszym potomkiem li, będącego pierwszym potomkiem ul znajdującego się w menu */
    menu ul > li > ol > li a{
        padding: 100px; /* odsunięcie na 10px */
        text-decoration: none; /* wyłączenie dekoracji tekstu */
        color: #2b2b2b; /* kolor tekstu */
        display: block; /* wyświetlaj jako element blokowy */
    }
    /* style dla li gdy kursor znajdzie się nad nim, który jest pierwszym potomkiem ol, będący pierwszym potomkiem li, będący pierwszym potomkiem ul znajdującym się w nav */        
     ul > li > ol > li:hover{
        background: #2b2b2b; /* kolor tła */
    }
  .Discipline-text,.HistoryofDiscipline-text h1{
     font-size: small; 
     display: flex;
     justify-content: space-between;
     flex-direction: column;
  }

 
  .activityplaning-box{
    width:300px;
    height:100px;
    display:flex;
    justify-content:center;
    align-items: center;
    background-color:#2b2b2b;
    
  }

  .activityplaning-box:hover{
    background: #000000;
  }
   .otworcach-list
    {
        display :flex;
        flex-wrap: wrap;
    }

    
      
      .radio-toolbar input {
        visibility: hidden;
        position: fixed;
      }
      
      .radio-toolbar label, .modal-body input[type="submit"]{
        font-weight: bold;
        cursor: pointer;
        display: inline-block;
        background-color: #ddd;
        padding: 10px 20px;
        font-size: 16px;
        border: 2px solid #444;
        border-radius: 4px;
      }
      
      .radio-toolbar input:checked + label {
        background-color:#bfb;
        border-color: #4c4;
      }
      
      .radio-toolbar label:hover {
        background-color: #dfd;
      }
      
     
      
      .calendar {
        width: 45rem;
        color:white;
        background-color: #222227;
        box-shadow: 0 0.5rem 3rem rgba(0, 0, 0, 0.4);
      }
      
      .month {
        width: 91%;
        height: 12rem;
        background-color: #167e56;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 2rem;
        text-align: center;
        text-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.5);
      }
      
      .month i, .today{
        font-size: 2.5rem;
        cursor: pointer;
      }
      
      .month h1 {
        font-size: 3rem;
        font-weight: 400;
        text-transform: uppercase;
        letter-spacing: 0.2rem;
        margin-bottom: 1rem;
      }
      
      .month p {
        font-size: 1.6rem;
      }
      
      .weekdays {
        width: 100%;
        height: 5rem;
        padding: 0 0.4rem;
        display: flex;
        align-items: center;
      }
      
      .weekdays div {
        font-size: 1.5rem;
        font-weight: 400;
        letter-spacing: 0.1rem;
        width: calc(44.2rem / 7);
        display: flex;
        justify-content: center;
        align-items: center;
        text-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.5);
      }
      
      .days {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        padding: 0.2rem;
      }
      
      .days div {
        font-size: 1.4rem;
        margin: 0.3rem;
        width: calc(40.2rem / 7);
        height: 5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        text-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.5);
        transition: background-color 0.2s;
      }
      
      .days div:hover:not(.today) {
        background-color: #262626;
        border: 0.2rem solid #777;
        cursor: pointer;
      }
      
      .prev-date,
      .next-date {
        opacity: 0.5;
      }
      
      .today {
        background-color: #167e56;
      }
      
      .modal {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) scale(0);
        transition: 200ms ease-in-out;
        border: 1px solid black;
        border-radius: 10px;
        z-index: 10;
        background-color: white;
        width: 500px;
        max-width: 80%;
      }
      
      .modal.active {
        transform: translate(-50%, -50%) scale(1);
      }
      
      .modal-header {
        padding: 10px 15px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid black;
      }
      
      .modal-header .title {
        font-size: 2rem;
        font-weight: bold;
        margin-left: auto;
        margin-right: auto;
        width: 10em;
        text-align: center;
      }
      
      .modal-header .close-button {
        cursor: pointer;
        border: none;
        outline: none;
        background: none;
        font-size: 2.5rem;
        font-weight: bold;
      }
      
      .modal-body {
        font-size: 1.8rem;
        padding: 10px 15px;
        text-align: center;
      }
      
      .activity-buttons {
        font-weight: bold;
        cursor: pointer;
        padding: 5px 50px;
        cursor: pointer;
        border: none;
        outline: none;
        background: none;
        font-size: 1.8rem;
      }
      
      #overlay {
        position: fixed;
        opacity: 0;
        transition: 200ms ease-in-out;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, .5);
        pointer-events: none;
      }
      
      #overlay.active {
        opacity: 1;
        pointer-events: all;
      }
      .calendar{
          padding: 0%;
        position: absolute;
        left: 28%;
        top: 13%;
       
      }
      .title{
          color: black;
      }
      .radio-toolbar{
          color:black
      }
      .swimingstyl{
          display: flex;
          justify-content: space-between;
      }
   .HistoryofDiscipline-text{
       height: 80%;
       margin-left: 4%;
       width:40%;
   }
   .SchedulefDiscipline-text{
   
    
   }